[submodule "curso-scope-closure"]
	path = curso-scope-closure
	url = https://github.com/Snakeblack/curso-scope-closure
[submodule "fundamentos-angular"]
	path = fundamentos-angular
	url = https://github.com/Snakeblack/fundamentos-angular
[submodule "angular-componentes-servicios"]
	path = angular-componentes-servicios
	url = https://github.com/Snakeblack/angular-componentes-servicios.git
[submodule "curso-codigo-limpio-csharp"]
	path = curso-codigo-limpio-csharp
	url = https://github.com/Snakeblack/curso-codigo-limpio-csharp.git
